{% extends 'core/core.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="formform">
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    <div>
        <h1>Login</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username: </label>
        <div class="input">
            <input type="text" name="username" id="username" class="input-box" style="padding: 8px;" required>
        </div class="input">
        
        <label for="password">Password: </label>
        <div class="input">
            <input type="password" name="password" id="password" class="input-box" style="padding: 8px;" required>
        </div>
        <div class="input">
            <input type="submit" value="Login" class="submit-btn">
        </div>
    </form>
</div>
{% endblock body %}