{% extends 'core/core.html' %}
{% load static %}
{% block title %}Add Blog{% endblock title %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="heading" id="heading" placeholder="Title" maxlength="30" size="100" class="txtarea" required>
        </div>
        <div>
            
            <textarea name="content" id="content" placeholder="Blog" cols="100" rows="20" maxlength="6000" class="txtarea" required></textarea>
        </div>
        <input type="submit" value="Add" class="submit-btn">
    </form>
{% endblock body %}